<div class="services-thumb-card services-thumb-cardblock">
  <h3>Project Name {{projectId}}</h3>
</div>
<div class="services-thumb-card services-thumb-cardblock">
  <h6>Team Size</h6>
  <p>Team Size</p>
</div>
<div class="services-thumb-card services-thumb-cardblock">
  <h6>Team Structure</h6>
  <p>Designer, Developer</p>
</div>

<div class="services-thumb-card services-thumb-cardblock">
  <h6>Skills</h6>
  <p>HTML, CSS, Javascritp, VS Code (IDE) , TypeScript</p>
</div>

<div class="services-thumb-card services-thumb-cardblock">
  <h6>Description</h6>
  <p>HTML, CSS, Javascript, VS Code (IDE) , TypeScript</p>
</div>

<div class="services-thumb-card services-thumb-cardblock">
  <h6>Functionality</h6>
  <p>HTML, CSS, Javascript, VS Code (IDE) , TypeScript</p>
</div>

<div class="services-thumb-card services-thumb-cardblock">
  <h6>Pages</h6>
  <p>HTML, CSS, Javascript, VS Code (IDE) , TypeScript</p>
</div>
