<div class="row pt-lg-5" style="margin-top: 50px">
  <div
    class="col-md-4"
    style="margin-bottom: 20px"
    *ngFor="let questions of interviewQuestions"
  >
    <div class="services-thumb-card services-thumb-cardblock">
      <div class="d-flex flex-wrap align-items-center border-bottom mb-4 pb-3">
        <h3 class="mb-0">{{ questions.title }}</h3>
        <div class="services-price-wrap ms-auto">
          <p class="services-price-text mb-0">{{ questions.difficulty }}</p>
          <div class="services-price-overlay"></div>
        </div>
      </div>
      <p>{{ questions.description }}</p>
      <span style="display: block">15 mins</span>
      <a
        (click)="goToLink(questions.questionurl)"
        class="custom-btn custom-border-btn btn mt-3"
        >Write Test</a
      >
    </div>
  </div>
</div>
