<div class="row" style="margin-top: 50px">
  <div class="row pt-lg-5">
    <div
      class="col-md-4 col-6"
      *ngFor="let job of jobroles"
      style="margin-bottom: 20px"
    >
      <div
        class="services-thumb-card services-thumb-cardblock"
        (click)="showJobRoleDetails(job)"
      >
        <div
          class="d-flex flex-wrap align-items-center border-bottom mb-4 pb-3"
        >
          <h3 class="mb-0">{{ job.RoleName }}</h3>
          <div class="services-price-wrap ms-auto">
            <p class="services-price-text mb-0">Hot!</p>
            <div class="services-price-overlay"></div>
          </div>
        </div>
        <p>
          {{ job.WhatIs }}
        </p>
        <a href="#" class="custom-btn custom-border-btn btn mt-3"
          >Discover More</a
        >
      </div>
    </div>
  </div>
</div>
