<div class="services-thumb-card services-thumb-cardblock">
  <h3>Job Role</h3>
</div>
<div class="services-thumb-card services-thumb-cardblock">
    <h6>Salary Range</h6>
    <p>Designer, Developer</p>
</div>
<div class="services-thumb-card services-thumb-cardblock">
  <h6>Team Structure</h6>
  <p>Designer, Developer</p>
</div>

<div class="services-thumb-card services-thumb-cardblock border-1">
  <h6>Skills Required</h6>
  <p>HTML, CSS, Javascritp, VS Code (IDE) , TypeScript</p>
</div>

<div class="services-thumb-card services-thumb-cardblock border-1">
  <h6>Soft Skills</h6>
  <p>HTML, CSS, Javascript, VS Code (IDE) , TypeScript</p>
</div>

<div class="services-thumb-card services-thumb-cardblock border-1">
  <h6>Road Map</h6>
  <p>HTML, CSS, Javascript, VS Code (IDE) , TypeScript</p>
</div>

<div class="services-thumb-card services-thumb-cardblock border-1">
  <h6>Courses Offered</h6>
  <p>HTML, CSS, Javascript, VS Code (IDE) , TypeScript</p>
</div>

<div class="services-thumb-card services-thumb-cardblock border-1">
  <h6>Youtube Trainers</h6>
  <p>HTML, CSS, Javascript, VS Code (IDE) , TypeScript</p>
</div>
