<div class="" style="margin-top: 50px">
  <div class="row pt-lg-5">
    <div class="col-md-3 col-3">
      <div style="margin-top: 20px">
        <h5>Filters</h5>
      </div>
     
    
      <!-- CHECKBOX -->
      <div style="margin-top: 20px;">
        <span style="display: block;">Difficutly</span>
        <div
          *ngFor="let checkbox of checkboxes; let i = index"
          class="CheckBoxDesign"
        >
          <label>
            <input
              type="checkbox"
              [checked]="checkbox.checked"
              (change)="onCheckboxChange(i, $event)"
            />
            <span>
              {{ checkbox.label }}
            </span>
          </label>
        </div>
      </div>
      <!-- CLOSE CHECK BOX -->

      <!-- TECH STACK SEARCH -->
      <div style="margin-top:80px">
        <span style="display: block;">Search by Tech</span>

        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Search Tech"
          [(ngModel)]="seachTech"
          style="padding: 15px; border-radius: 25px"
          (keyup)="searchProject($event)"
        />
        <div
          *ngIf="showDropDownDiv"
          style="background-color: #f9f9f9; padding: 15px"
        >
          <span
            style="
              display: block;
              padding: 10px;
              font-size: larger;
              border-bottom: 1px solid #ebebeb;
            "
            (click)="filterProjectList(techlist)"
            *ngFor="let techlist of filteredTechStackList"
            >{{ techlist }}</span
          >
        </div>

        <div style="margin-top: 10px">
          <span
            style="
              color: white;
              background-color: #14b789;
              padding: 10px 15px;
              border-radius: 15px;
            "
            *ngFor="let filterlist of filterTechStackValues"
            >{{ filterlist }}
            <button
              type="button"
              class="close"
              aria-label="Close"
              style="
                background-color: transparent;
                border: 0px;
                font-size: 18px;
                font-weight: bold;
                color: white;
              "
              (click)="removeFilter(filterlist)"
            >
              <span aria-hidden="true">&times;</span>
            </button></span
          >
        </div>
      </div>
    </div>
    <div class="col-md-9 col-9" style="margin-bottom: 20px">
      <div
        *ngFor="let project of filteredProject"
        class="services-thumb-card services-thumb-cardblock"
        (click)="showProjectDetails(project)"
      >
        <div
          class="d-flex flex-wrap align-items-center border-bottom mb-4 pb-3"
        >
          <h3 class="mb-0">{{ project.projectname }}</h3>
          <div class="services-price-wrap ms-auto">
            <p class="services-price-text mb-0">{{ project.difficulty }}</p>
            <div class="services-price-overlay"></div>
          </div>
        </div>
        <p>
          {{ project.projectsubject }}
        </p>
        <div style="display: block">
          <span
            style="margin-right: 10px; padding: 5px 10px"
            class="badge text-bg-success"
            *ngFor="let techstack of project.techstack | commaToArray"
            >{{ techstack }}</span
          >
        </div>
        <a href="#" class="custom-btn custom-border-btn btn mt-3"
          >Discover More</a
        >
      </div>
    </div>
  </div>
</div>
